
blockquote,div,section,code,math,
exercise,example,definition,figure {
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
}
[block],figure {
  display: block;
}
a {
  color: darkblue;
}
blockquote,figure {
  background-color: lightblue;
}
math {
  display: inline;
  color: darkslategray;
  background-color: lightblue;
  font-style: italic;
}
code {
  background-color: lightgray;
  color: darkslategray;
  box-shadow: inset 0px 3px 3px #000000A0;
}
pre>code {display: block;}

nav {
  background-color: rgb(176, 204, 255);
  color: black;
  padding: 0;
  /* Why doesn't this work??? */
  box-shadow: 4px 0 8px black;
  ul {
    padding: 4px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #navtoggle {
    margin: 0;
    border: none;
    background: white;
  }
}

main {
  background-color: whitesmoke;
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 4px;
}